.tag {
  font-family: Rodondo;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  font-size: 64px;
}

@media screen and (max-width: 768px) {
  .tag {
    font-size: 42px;
  }
}

@media screen and (max-width: 480px) {
  .tag {
    font-size: 30px;
  }
}
