.Mem {
  display: flex;
  height: 100vh;
  background-color: #878787;
}
.Pgallery {
  overflow-y: hidden;
}
.Mem > div {
  flex: 1;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;

  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.Mem > div:hover {
  flex: 6;
}
.Mimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mfooter {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  gap: 5px;
}
.Mtitle {
  font-family: Montserrat-Bold;
}
.Mtext {
  font-family: Montserrat-Medium;
}

@media screen and (max-width: 768px) {
  .Mem {
    /* flex-direction: column; */
  }
  .Mfooter {
    /* flex-direction: column; */
  }
  .Mtitle {
    font-size: 20px;
  }
  .Mtext {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .Mem {
    flex-direction: column;
  }
  .Mfooter {
    /* flex-direction: column; */
  }
  .Mtitle {
    font-size: 20px;
  }
  .Mtext {
    font-size: 15px;
  }
  .Mem > div {
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  }
}
