.ML {
  display: flex;
  height: 100vh;
  background-color: #878787;
}
.ML > div {
  flex: 1;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;

  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.ML > div:hover {
  flex: 6;
}
.Mimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mfooter {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  gap: 5px;
}
.Mtitle {
  font-family: Montserrat-Bold;
}
.Mtext {
  font-family: Montserrat-Medium;
}
