.containerHighlight {
  height: 20vh;
  background-color: #e08839;
}
.middle {
  display: flex;
  justify-content: center;
}
.Rhombus {
  width: 240px;
  height: 240px;
  background-color: #e08839;
  position: absolute;
  margin-top: -3.3vw;
  /* z-index: -1; */
  border-radius: 15px;
  transform: rotate(45deg);
  /* margin-left: -60%; */
}
.containterText {
  font-family: Montserrat-bold;
  display: flex;
  width: 40vh;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  z-index: 1;
}
.Htext {
  font-size: 50px;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}
.header5 {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .containerHighlight {
    height: 15vh;
  }
  .Rhombus {
    width: 200px;
    height: 200px;
    margin-top: -4vw;
  }
  .containterText {
    width: 25vh;
  }
  .Htext {
    font-size: 35px;
  }
  .header5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .containerHighlight {
    height: 10vh;
  }
  .Rhombus {
    width: 150px;
    height: 150px;
    margin-top: -5vw;
  }
  .containterText {
    width: 20vh;
  }
  .Htext {
    font-size: 25px;
  }
  .header5 {
    font-size: 15px;
  }
}
